@use "variable" as *;

/* banner-1 */
.mario1 {
    width: 75%;    
    z-index: $z-index-l;
    animation: mario1 $animation-banner;
}
@keyframes mario1 {
    0%   {top: 100vh; left: -5%;}
    // 1.5s
    10%  {top: -10vh; left: -5%;}
    // 3s
    20%  {top: -10vh; left: -5%;}
    // 4.5s
    30%  {top: 100vh; left: -5%}
    // 15s
    100% {top: 100vh; left: -5%}
}
.luigi {
    width: 60%;    
    z-index: $z-index-m;
    animation: luigi $animation-banner 0.35s;
}
@keyframes luigi {
    0%   {top: 100vh; left: 60%;}
    10%  {top: 5vh; left: 60%;}
    20%  {top: 5vh; left: 60%;}
    30%  {top: 100vh; left: 60%;}
    100% {top: 100vh; left: 60%;}
}
.brick {
    width: 100%;          
    z-index: $z-index-s;
    animation: brick $animation-banner 0.45s;
}
@keyframes brick {
    0%   {top: -15vh; left: 150%;}
    10%  {top: -15vh; left: 30%;}
    20%  {top: -15vh; left: 30%;}
    30%  {top: -15vh; left: 150%;}
    100% {top: -15vh; left: 150%;}
}
/* banner-2 */
.mario2 {
    width: 85%;
    z-index: $z-index-l;
    animation: mario2 $animation-banner 5s;
}
@keyframes mario2 {
    0%   {top: 100vh; left: -15%;}
    10%  {top: -12vh; left: -15%;}
    20%  {top: -12vh; left: -15%;}
    30%  {top: 100vh; left: -15%;}
    100% {top: 100vh; left: -15%;}
}
.peach {
    width: 47%;    
    z-index: $z-index-m;
    animation: peach $animation-banner 5.35s;
}
@keyframes peach {
    0%   {top: 100vh; left: 45%;}
    10%  {top: 10vh; left: 45%;}
    20%  {top: 10vh; left: 45%;}
    30%  {top: 100vh; left: 45%;}
    100% {top: 100vh; left: 45%;}
}
.pipe {
    width: 45%;
    z-index: $z-index-s;
    
    animation: pipe $animation-banner 5.45s;
}
@keyframes pipe {
    0%   {top: 100vh; left: 80%;}
    10%  {top: -15vh; left: 80%;}
    20%  {top: -15vh; left: 80%;}
    30%  {top: 100vh; left: 80%;}
    100% {top: 100vh; left: 80%;}
}
/* banner-3 */
.mario3 {
    width: 105%;
    z-index: $z-index-l;
    animation: mario3 $animation-banner 10s;
}
@keyframes mario3 {
    0%   {top: 100vh;  left: -15%;}
    10%  {top: -10vh;  left: -15%;}
    20%  {top: -10vh;  left: -15%;}
    30%  {top: 100vh;  left: -15%;}
    100% {top: 100vh;  left: -15%;}
}
.toad {
    width: 45%;
    z-index: $z-index-m;
    animation: toad $animation-banner 10.35s;
}
@keyframes toad {
    0%   {top: 100vh; left: 60%;}
    10%  {top: 10vh; left: 60%;}
    20%  {top: 10vh; left: 60%;}
    30%  {top: 100vh; left: 60%;}
    100% {top: 100vh; left: 60%;}
}
.star {
    width: 65%;
    z-index: $z-index-s;
    animation: star $animation-banner 10.45s;
}
@keyframes star {
    0%   {top: 100vh; left: 60%;}
    10%  {top: -15vh; left: 60%;}
    20%  {top: -15vh; left: 60%;}
    30%  {top: 100vh; left: 60%;}
    100% {top: 100vh; left: 60%;}
}