@charset "UTF-8";
@use "reset";
@use "banner";
@use "variable" as *;
@use "function" as *;
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;400;700;900&display=swap');

* {
    box-sizing: border-box;
}

/* 不算內距跟邊框 */

body {
    font-family: $font-main;
    color: $white;
}

img {
    display: block;
    width: 100%;
}

.btn-big {
    @extend %btn-main;
    margin: $interval-y-m;
    font-size: $font-size-l;
    padding: $interval-xy-xl;

    &:hover {
        @extend %btn-main-hover;
    }
}

.btn-small {
    @extend %btn-main;
    margin: $interval-y-m;
    font-size: $font-size-m;
    padding: $interval-s;

    &:hover {
        @extend %btn-main-hover;
    }
}

/* banner區 */
#banner {
    @extend %flex-center;

    position: relative;
    height: 100vh;
    overflow: hidden;
    background-image: url(../images/bg-pattern-logos.png), linear-gradient($gradien-red);

    &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: $z-index-xl;
        width: 100%;
        height: 150px;
        background-color: $primary-color;
        clip-path: polygon(0 100%, 100% 0, 100% 100%, 0 100%);
    }

    .row {
        display: flex;
        width: $width-main;

        .col {

            &:first-child {
                width: 30rem;
            }

            &:last-child {
                position: relative;
                width: calc(100% - 30rem);

                figure {
                    position: absolute;
                }
            }

            h2 {
                span {
                    display: block;

                    &:first-child {
                        font-size: $font-size-xl;
                        font-weight: $font-weight-bold;
                    }

                    &:last-child {
                        font-size: $font-size-xxl;
                        font-weight: $font-weight-black ;
                    }
                }
            }

            p {
                font-size: $font-size-l;
                line-height: $font-size-l * $line-h-p;
            }
        }
    }
}

/* 主要內容區*/
section {
    @extend %flex-center;
    flex-direction: column;
    padding: 50px 10%;
    height: 100vh;
}

.title {
    font-size: 4rem;
    font-weight: $font-weight-bold;
    padding-bottom: $interval-xl;
}

.list-box {
    @extend %flex-center;

    .list-item {
        @extend %flex-center;
        flex-direction: column;
        flex: 1;
        margin: $interval-x-m;
        padding: $interval-m;
        border-radius: $radius-l;
        background-image: repeating-linear-gradient($gradien-repeating-deep );
    }
}

/* news區 */
#news {
    background-color: $primary-color;

    .img-box {
        position: relative;
        display: flex;
        justify-content: center;

        .scenes {
            width: 100%;
            height: 30vh;
            transform-origin: bottom;
            transition: map-get($speeds , slow) $timing;

            img {
                @extend %object-cover;
            }
        }

        .role {
            position: absolute;
            bottom: -5vh;
            z-index: $z-index-xl;
            width: 75%;
            transform-origin: bottom;
            transition: map-get($speeds , slow) $timing;
        }
    }

    &:hover {
        .scenes {
            transform: perspective(600px) rotateX(30deg) skewX(-20deg);
        }

        .role {
            transform: scale(1.2);
        }
    }

    .content-box {
        margin-top: $interval-m;

        * {
            margin: $interval-y-s;
        }

        .date {
            font-size: $font-size-s;
            font-weight: $font-weight-bold;
        }

        h3 {
            font-size: $font-size-l;
            font-weight: $font-weight-bold;
        }

        .content {
            font-size: $font-size-m;
        }
    }
}

/* product區 */
#product {
    background:
        url(../images/wavy-line.png) no-repeat,
        url(../images/bg-pattern-logos.png) repeat, linear-gradient($successr-color2 , $successr-color3);

    background-size: 100%;
    padding-top: $interval-m;

    .list-box {

        .list-item {
            transform-style: preserve-3d;

            * {
                transform: translateZ(50px);
            }
        }
    }

    figure {
        position: relative;
        width: 100%;
        height: 25vh;

        img {
            position: absolute;
            top: -15vh;
            width: 120%;
        }
    }

    h3 {
        width: 100%;
        font-size: $font-size-l;
        font-weight: $font-weight-bold;
    }

    p {
        @extend %multiple-lines;
        -webkit-line-clamp: 3;
        font-size: $font-size-m;
    }
}