// 字體樣式
$base-fonts:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
"Noto Sans TC", "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", sans-serif;
$font-main:'Catamaran', sans-serif;

// 字重樣式
$font-weight-bold : 700;
$font-weight-black : 900;

// 字級樣式
$font-size-xs: .75rem;
$font-size-s: .8rem;
$font-size-m: .95rem;
$font-size-l: 1.3rem;
$font-size-xl: 1.7rem;
$font-size-xxl: 11rem;

// 行距規範
$line-h-p: 1.4;